/* import google font*/
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Martel:wght@200&display=swap");

/* Custom properties/variables  */
:root {
  --background-white: #faf9f9;
  --highlight-gold: #fcad08;
  --deep-navy: #003049;
  --subtle-grey: #dee2e6;
  /* default brower font size is 16px, 1rem = 10px */
  font-size: 62.5%;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: var(--background-white);
  background-color: var(--background-white);
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  text-shadow: 0 0 1px black;
}

h2 {
  font-size: 2.5rem;
  color: var(--deep-navy);
}

p {
  /* font-size: 1rem; */
  padding-bottom: 1rem;
}

i {
  margin-right: 1.5rem;
}

.lightText {
  font-size: 2.5rem;
}

.standardText {
  font-size: 1.5rem;
}

.tinyText {
  font-size: 1rem;
}

/* Navigation bar */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  /* background-color: var(--subtle-grey); */
  /* box-shadow: 0 2px 0 var(--highlight-red); */
  z-index: 999;
}

#menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

#menu {
  list-style: none;
}

#menu > li > a:hover {
  color: var(--highlight-gold);
  text-decoration: underline;
}

#menu > li > a {
  color: var(--background-white);
  text-decoration: none;
}

main {
  /* background-color: var(--background-white);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  max-width: 90%;
  margin: 0 auto;
}

/* welcome section */

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(utils/imgs/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  clip-path: polygon(100% 0, 100% 66%, 50% 100%, 0 66%, 0 0);
}

.intro {
  height: 50%;
  display: flex;
  align-content: center;
  justify-items: center;
}

#details {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* align-items: flex-start; */
  justify-content: center;
}

#avatar {
  width: 150px;
}

/* project section */

#projects {
  display: grid;
  width: 100%;
  height: 100vh;
  /* background-color: var(--subtle-grey); */
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center; */
  /* justify-content: center; */
}

#projectsIntro {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

#availableBtn {
  background: none;
  border: 1px solid var(--highlight-gold);
  color: var(--highlight-gold);
  border-radius: 30px;
  padding: 8px 20px;
}

.filterBtn {
  background-color: var(--subtle-grey);
}

button:hover {
  background-color: var(--highlight-gold);
}

.filterBtn.active {
  background-color: var(--deep-navy);
  color: var(--background-white);
}

.project {
  background-color: var(--subtle-grey);
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  /* width: 100%;*/
  margin: 1rem;
  /* height: 20rem; */
  display: none;
  background-position: center;
  background-size: cover;
  /* filter: ; */
}

.selected {
  display: flex;
}

.project:hover {
  box-shadow: 0 0 5px var(--highlight-gold);
}

#rockPaperScissorsProject {
  background-image: url(utils/imgs/RockPaperScissors.png);
}

#filmDatabaseProject {
  background-image: url(utils/imgs/filmDatabase.png);
}

#foodlesProject {
  background-image: url(utils/imgs/foodles.png);
}

#budgetCalcProject {
  background-image: url(utils/imgs/budgetCalc.png);
}

#currencyConvertorProject {
  background-image: url(utils/imgs/currencyConvertor.png);
}

#shoppingListProject {
  background-image: url(utils/imgs/shoppingList.png);
}

/* skills section */

#skills {
  background-color: var(--subtle-grey);
  height: 50vh;
}
/* contact section */

#contact {
  background-color: var(--highlight-gold);
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
